<ion-view title="Add Cafe">
    <ion-content ng-show="authData">
        <form>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Cafe name" data-action="nameInput">
                </label>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="addItem()">Add</button>
            </div>
        </form>
    </ion-content>
</ion-view>