<ion-tabs class="tabs-positive tabs-icon-only">

  <!-- Home Tab -->
    <ion-tab title="Status" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- Add Tab -->
    <ion-tab title="Chats" icon-on="ion-ios-plus" icon-off="ion-ios-plus-outline" href="#/tab/add">
        <ion-nav-view name="tab-add"></ion-nav-view>
    </ion-tab>

  <!-- Profile Tab -->
    <ion-tab title="Account" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>

</ion-tabs>